.register-card {
  width: 800px;
}

.img {
  background-image: url("/assets/images/reg-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.wrap {
  overflow: hidden;
  border-radius: 5px;
}

button{
  background-color: #202026;
  color: #fff;
}
  


@media only screen and (max-width: 768px) {
  .register-card {
    width: 400px;
  }
  .img {
    height: 200px;
  }
}
