body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

header h1 {
    color: black;
    font-size: 10vw;
    margin: 0;
    text-shadow: 2px 2px 4px white;
}

header p {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 3vw;
}