<section class="showcase">
    <img src="../../../assets/videos/sala.gif">
    <div class="text">
      <h2>Partecipa alla battaglia delle recensioni </h2> 
      <h3>Scegli la tua fazione</h3>
      <p>Vince la squadra che totalizza più punti, fai più recensioni che puoi nel minor tempo possibile</p> 
      <div class="col-md-3 col-sm-3 col-xs-6 bottone"> 
        <a routerLink="/game" class="btn btn-sm animated-button fill-left-right-right">Comincia Subito!</a> 
      </div>
    </div>
</section>
   