.profile-data {
    font-weight: bold;
}

.row{
    margin-left: 180px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    width: 200px;
    padding-bottom: 10px;
}

h2{
    margin-left: 140px;
    margin-top: 50px;
    color: #fff;
    background-color: #202026;
    width: 197px;
    transform: rotate(-10deg);
}