.profile{position: relative;width: 100vw;height: 100vh;padding: 5% 10%;}
.profile__card{color: #fff;}
.profile__card__content{padding: 2% 16%;}

h1{font-size: 60px;font-weight: bold;}

p,
.button__primary{margin: 10px 0;}
