/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

$primary: #202026;
$secondary: #d977a5;
//$dark-grey: #202026;
$font-family-sans-serif: 'Roboto', sans-serif;


/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

label {
  text-transform: uppercase;
  font-size: small;
  font-weight: bold;
}

ngb-rating {
  color: $primary;
}

.wrap{
  animation: animate 7s linear infinite;
}

@keyframes animate{
  0%
  {
    box-shadow: 0 0 10px $primary;
  }
  50%
  {
    box-shadow: 0 0 20px #EFF5F4,
    0 0 40px #EFF5F4,
    0 0 80px #EFF5F4
  }

  100%
  {
    box-shadow: 0 0 10px $primary,
  }
}

.sh:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 10px rgba(145, 92, 182, .4);
}
