.arrowDown{
    position: relative;
    top: 3%;
    width: 6rem;
    height: 6rem;
    animation: arrowAnim 2s infinite ease-in-out;
}

@keyframes arrowAnim {
    0%{
        top: 3%;
    }
    50%{
        top: 6%
    }
    100%{
        top: 3%;
    }
}

.contenitore{position: relative;width: 100vw;height: 100vh;padding: 35px 120px;}

tnv-card-slide{
    transition: all .2s ease-in-out;
}

tnv-card-slide:hover{
    transform: scale(1.1);
}

