img{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
    margin: 0;
}

.contenitore{
    margin-top: 10rem;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

