<nav class="navbar navbar-expand-lg navbar-light">
  <img class="navbar-brand" routerLink="/" src="../../../../assets/images/warrate-logo.png" width="185px" height="105px">
  <button
    class="navbar-toggler hidden-sm-up mx-3"
    type="button"
    (click)="isNavbarCollapsed = !isNavbarCollapsed"
    data-target="#navbarsDefault"
    aria-controls="navbarsDefault"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    [ngbCollapse]="isNavbarCollapsed"
    class="collapse navbar-collapse"
    id="navbarsDefault"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/welcome" routerLinkActive="active"
          >Home</a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/game" routerLinkActive="active"
          >Movies</a
        >

      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Preferiti</a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/profile" routerLinkActive="active"
          >Profilo</a
        >
      </li>
    </ul>
    
  </div>
  
</nav>


