#logo
{
  text-transform: uppercase;
  cursor: pointer;
  padding-right: 0px;
  margin-right: 0px;
}

.navbarShow{
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    0%{
        position:absolute;
        top: 0%;
    }
    100%{
        top: -50%;
    }
}

h2
{
  font-size: 2.5em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    width: 23rem;
    position: absolute;
    right: 0;
    text-transform: uppercase;
}

a{
    text-decoration: none;
    color:#fff;
    font-size: 1.2rem;
    line-height: 1em;
    opacity: 0.8;
}

a:hover{
    opacity:1;
}

@keyframes anim5{
    0%{
        display: none;
    }
    100%{
        display: block;
    }
}

.nav-item{
    list-style:none;
}

.navbar{
    justify-content: start;
}

.link-active{
    opacity: 1;
}

.logoAnimation{
    position: relative;
    left: -200%;
    animation: anim forwards 2s ease-in;
    opacity: 0;
}

@keyframes anim {
    from{
        left:-200%;
    }
    to{
        left:0%;
    }
}

.navbarShadowBlue a, .navbarShadowBlue h2,  .navbarShadowBlue #logo{
    text-shadow: rgb(45, 29, 194) 3px  4px 5px;
}

.navbarShadowRed a, .navbarShadowRed h2, .navbarShadowRed #logo{
    text-shadow: rgb(194, 29, 29) 3px  4px 5px;
}

