.navbar{
    font-size: 30px;
    color: #fff;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    padding-left: 15px;
    margin-bottom: 25px;
}

.navbar img{
    margin-right: -15px;
}

.navbar li{
    margin-right: 15px;
}

.navbar-toggler{
    border: none;
}

span.navbar-toggler-icon{
    width: 80px;
    height: 60px;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline: none;
    box-shadow: none;
    border: 0;
}

@media only screen and (max-width: 991px) {
    .navbar{
      padding-top: 0px;
      padding-left: 0px;
    }
    .navbar img{
        position: relative;
        right: 60px;
        width: 287px;
        height: 155px;
    }
    span.navbar-toggler-icon{
        width: 80px;
        height: 60px;
        margin-right: 10px;
    }
}


@media only screen and (max-width: 760px) {
    span.navbar-toggler-icon{
        width: 65px;
        height: 50px;
        position: relative;
        left: 15px;
    }
    .navbar img{
        position: relative;
        right: 50px;
        width: 220px;
        height: 120px;
    }
}

@media only screen and (max-width: 598px) {
    span.navbar-toggler-icon{
        width: 50px;
        height: 40px;
        position: relative;
        left: 20px;
    }
    .navbar img{
        position: relative;
        right: 38px;
        width: 180px;
        height: 100px;
    }
}

@media only screen and (max-width: 460px) {
    span.navbar-toggler-icon{
        width: 40px;
        height: 30px;
        position: relative;
        left: 25px;
    }
    .navbar img{
        position: relative;
        right: 29px;
        width: 140px;
        height: 80px;
    }
}
