<div>
    <img src="../../../assets/images/poltroneFrontali.jpg" class="sfondo" alt="Norway">
    <!-- <img src="../../../assets/images/poltroneFrontali.jpg" width="100%" height="100%"> -->

<div class="container-fluid overflow-hidden d-flex justify-content-center mt-5 contenitore">
    <div class = "card" style="width: 15rem; height: 21rem">
        <img
            [src] = "'https://image.tmdb.org/t/p/w440_and_h660_face' + movie.poster_path"
            class = "card-image"
        />
    </div>
    <div>
        <ul>
            <li>
                <h2>{{movie.title}}</h2>
                <ul>
                    <li>
                        <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
                            <label class="stelle" for="">Ratings:</label>
                            <td class="px-3 pb-2"><ngb-rating 
                                [rate]="0" 
                                [max]="5" 
                                id="rating"
                                formControlName="rating"
                                >
                            </ngb-rating></td>
                            <label class="commento" for="review">Commento:</label>
                            <br>
                            <textarea 
                            (keyup)="counter()"
                            cols="60" 
                            rows="5" 
                            id="review"
                            formControlName="review"
                            ></textarea> 
                            <div><p>counter: {{ counter() }}</p></div>
                            <button [disabled]="!reviewForm.valid" class="custom-btn" type="submit">INVIA</button>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
</div>
