.card{
    border-radius: 15px;
    border: 1px solid white;
    overflow: hidden;
}

p{
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
    color: #fff;
}

ul{
    list-style: none;
}

ngb-rating{
    font-size: 30px;
    color: #fff;
}

h2, .card{color: white;}




  
  
