.movies{position: relative;width: 100vw;height: 100vh;padding: 30px 120px;top:0;left:0;}
.movies__cardBox{display: flex;justify-content: space-between;align-items: center;}
.movies__card__arrow{width: 3rem;height: 3rem;transform: scale(1.1);animation: arrowAnim 2.5s infinite;}

@keyframes arrowAnim {
    0%{
        transform: translateX(0px);
        height: 3rem;
    }
    60%{
        transform: translateX(10px);
        height: 2.9rem;
    }
    100%{
        transform: translateX(0px);
        height: 3rem;
    }
}








