.card{border-radius: 12px;overflow: hidden;border: hidden;transition: all .4s;transform: scale(0.9);background: rgba(255, 255, 255, 0.2);box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);border: 1px solid rgba(255, 255, 255, 0.3);}
.card-body{display: table;text-align: center;overflow: scroll;}
.card-title{display: table-cell;vertical-align: middle;font-size: 1rem;color: rgb(255, 255, 255);}

.card:hover{transform: scale(1.0);}









