<div class = "card" style="width: 15rem;">
    <img
        [src] = "'https://image.tmdb.org/t/p/w440_and_h660_face' + movie.poster_path"
        class = "card-image"
    />
    <div class = "card-body">
        <h5 class = "card-title" style="width: 100%; height: 5rem;">
            {{movie.title | titlecase}}
            <td class="d-flex justify-content-center"><ngb-rating [(rate)]="starRating" [max]="5" ></ngb-rating></td>
        </h5>
        <a class="btn btn-primary w-75 h-25" routerLink="/rating/{{ movie.id }}" *ngIf="starRating > 0 ">RECENSISCI</a>
    </div>
</div>
